__pycache__/
*.py[cod]
*$py.class
*.log

db.sqlite3
media/*
!media/products/
!media/products/*.jpg
!media/products/*.jpeg
!media/products/*.png
!media/products/*.webp
!media/products/*.svg
notes.txt
.env
