{% extends 'base.html' %}

{% block content %}
<section class="container card p-4">
    <h1>Contact Us</h1>
    <p>Email: support@pcforce.com</p>
    <p>Phone: +30 210 000 0000</p>
    <iframe
        class="w-100 mt-3 rounded"
        height="260"
        style="border:0;"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        title="The American College of Greece map"
        src="https://www.google.com/maps?q=The%20American%20College%20of%20Greece&output=embed">
    </iframe>
</section>
{% endblock %}
